.categories {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    padding: 20px;
    background: var(--static-white);

    &__container {
        width: 1276px;
        height: 100%;
        background: var(--static-white);
    }
    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 40px;
    }
    &__item {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--dark);
        padding: 10px;
        border-radius: 15px;
        background-color: var(--bg-categories);
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--bg-categories-hover);
        }
    }
}