.slider-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    padding: 20px 0;
    background: var(--static-white);
    background-image: url("/images/png/slider-section-bg.png");
    background-size: cover;
    background-repeat: no-repeat;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        width: 1276px;
        overflow: hidden;
    }

    .content {
        &__title {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 24px;
            line-height: 152%;
            letter-spacing: 0.16em;
            text-transform: uppercase;
            text-align: center;
            color: var(--static-white);
        }
    }

    .slider {
        position: relative;
        left: 0px;
        height: 200px;
        align-self: flex-start;
        display: flex;
        overflow: hidden;

        &__container {
            display: flex;
            justify-content: space-between;
            // width: 2922px;
            animation: running-slider 10s linear infinite;
        }
        &__items {
            display: flex;
            justify-content: space-between;
            // width: 1461px;
        }
        &__card {
            display: flex;
            align-items: center;
            column-gap: 20px;
            padding-right: 20px;

            &-text {
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 40px;
                text-transform: uppercase;
                text-align: center;
                color: var(--static-white);;
            }
            &-img {
                border-radius: 20px;
                width: 150px;
                height: 150px;
            }
        }
    }
}

@keyframes running-slider {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
